In [ ]:
import antigravity

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
len(keyword.kwlist)

35

In [4]:
print('Hello Word')

Hello Word

In [5]:
print("python"); print("module")

python
module

In [10]:
a = 10; b = 20
if(a==10) and \
 (b==20):
  print("오케바리")

오케바리

In [11]:
pen=ko=100
print(pen)
print(ko)

100
100

In [12]:
language='korar'
body="tag"
print(language)
print(body)

korar
tag

In [13]:
a = 1
a = eval('a + 4')
a

5

In [20]:
type(5)

int

In [31]:
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [32]:
import sys
sys.maxsize

9223372036854775807

In [33]:
9223372036854775807 + 1

9223372036854775808

In [39]:
s_val='hello python!'
s_val[0:3]
s_val[1:]

'ello python!'

In [44]:
s_val='hello python!'
s_val[:3] ### 3미만까지
s_val[::2]

'hlopto!'

In [46]:
s_val2='hello' + ' '+'pyhon!'
s_val2
s_val2 *3

'hello pyhon!hello pyhon!hello pyhon!'

In [55]:
s_val3='hello python!'
s_val4 = 'H' + s_val3[1:]
s_val4

len(s_val4) ### 문자열길이

13

In [59]:
'python' in s_val #'python'가 문자열 s_val4안에 있는가? 있으면 true
'python' not in s_val4 #'python이 없으면 true 아니면 false

False

In [61]:
# 여러 줄 문자열은 작음따음표나 큰따음표를 세번 연속해서 입력
s_val5 ="""돈이 다 무슨 소용인가? 사람이 아침에 일어나고 밤에 잠자리에 들며 
그 사이에 하고 싶은 일을 한다면 그사람은 성공한것이다"""
s_val5

'돈이 다 무슨 소용인가? 사람이 아침에 일어나고 밤에 잠자리에 들며 \n그 사이에 하고 싶은 일을 한다면 그사람은 성공한것이다'

In [62]:
input('누구니?_너는')
# 질문, 내용

누구니?_너는ㅇ

'ㅇ'

In [65]:
a=input('첫번째정수 입력:')
b=input('두번쨰 정수 입력:')
c = int(a) + int(b) # 10은 STring 라서 인트로 형변환해줘야함
print(c)

첫번째정수 입력:10
두번쨰 정수 입력:6

TypeError: ignored

In [75]:
s_val6='python'
s_val7=83.5
print('%s의 점수는 %f입니다' %(s_val6, s_val7))

python의 점수는 83.500000입니다

In [76]:
'Hello,{0} {1} {2}'.format('python','Scipt',3.6)

'Hello,python Scipt 3.6'

In [77]:
i10=[10,20,30]
i10=['start',i10,'end']
i10  # 중첩리스트 : 리스트안에 또다른 리스트를 포함할 수 있다.

['start', [10, 20, 30], 'end']

In [84]:
hp1='010'
hp2='2522'
hp3='9234'
print(hp1,hp2,hp3, sep='_') ##문자열 서식지정 연결

010_2522_9234

In [95]:
print('korea'.lower())
print('korea'.upper()) # 대문자
print('korea'.swapcase()) # 소문자를 대문자로
print('KOREA'.swapcase()) # 대문자를 소문자로
print('ko re a'.title()) # 첫 대문자
print('KORea'.islower()) ## 모든문자가 소문자냐
print('KOeesf'.isupper()) # 모든 문자가 대문자냐

print('we are the world'.find('are'))
'we are the world'.find('WORLD')
print('we are the world.'.index('are'))

korea
KOREA
KOREA
korea
Ko Re A
False
False
3
3

In [98]:
print('we are the world'.join('**')) # 문자열 사이사이에 *

*we are the world*we are the world*

In [101]:
print('weare'.isalnum())

True

In [102]:
print('we are the worlid'.split()) # 문자열 리스트

['we', 'are', 'the', 'worlid']

In [104]:
va = [10,20,30]
va
type(va) ## type 은 리스트다

list

In [106]:
a=[10,'psdfsdf',80.5,True]
a

[10, 'psdfsdf', 80.5, True]

In [115]:
a=[5,10,15,20,25]
a[0] # 0인덱스 요소를 리턴
a[-1] # 음수를 사용하면 요소 마지막부터 찾음
a[0:2] # 5,10 0인덱스랑 1인덱스 
a[::2] # 0,1,2 까지 까지고옴
a+a+a # 연계로 가져옴
a+[30,35] # a에다가 30,35 를 더해서 가져옴
a*3 # *3 번 반복
5 in a # a문자열에 숫자 5가 잇으면 true

True

In [122]:
b=['apple','baaaa',100,200]
b[2] = 300 # 2번째 껄 100 을 300으로 바까서 출력해라
b
b[0:2]=[1,2] # 0에서부터 2미만을 1,2로 바까라
b
b[0:2]=[100] #크기가 달라도된다
b
b[0:2] =[] #요소 2개를 삭제한다
b

[200]

In [128]:
c=[2,4,6,8]
del c[0] # 0번째 요소를 삭제한다 (del)
c 
c[1:1]=['red,green'] # 0번째를 바꾸고 0번째뒤로바꿔라
c

[4, ['red,green'], 6, 8]

In [129]:
d=[2,4,6,8]
d[1]=['red,green']
d

[2, ['red,green'], 6, 8]